<header>
	<nav class="menu no-list red be-white">
	<ul class="no-list row center-xs middle-xs">
		<p class="col-md menu">Biblioteca Online</p>
		<p class="col-md menu"><%= link_to 'Inicio', root_path %></p>
		<p class="col-md menu"><%= link_to 'Nuevo libro', new_book_path %></p>
	</ul>	
	</nav>
</header>